/* || GENERAL STYLES */

:root {
  --dark-background: #43a047;
  --light-background: #a5d6a7;
  --dark-highlight: #1b5e20;
  --yellow-highlight: #81c784;
  --sunset-orange: #ff9933;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--white);
}

/* || HEADER */

header {
  background-color: var(--dark-background);
  color: var(--white);
  position: fixed;
  top: 0px;
  overflow: auto;
  width: 100%;
  height: 20%;
  z-index: 100;
  display: block;
  align-items: center;
  padding: 20px;
}

header h1 {
  display: inline-block;
  font-size: 32px;
  text-decoration: underline var(--yellow-highlight);
  margin-left: 20px;
  height: 28px;
}

header p {
  height: 16px;
}

/* || BACKGROUND IMAGE */

figure img {
  min-height: 100px;
  height: auto;
  width: 100%;
}

/* || MAIN CONTENT - GENERAL */

.main-content {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 75% 75%;
  grid-gap: 1em;
  margin: 1em;
}

.main-content > section {
  background: var(--light-background);
  padding: 1em;
  color: black;
}

.main-content > section:nth-child(odd) {
  background: var(--dark-background);
}

.section-label {
  font-size: 2vw;
  border-right: 6px solid var(--dark-highlight);
  display: flex;
  align-items: flex-start;
  text-align: center;
}

/* || HISTORY SECTION */

#history-section {
  display: block;
}

/* || DAILY SECTION */

.card {
  height: 100%;
  width: 100%;
  margin: 1%;
  background-color: var(--dark-background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: flex-end;
  overflow: hidden;
}

.card-alt {
  grid-area: alt;
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
}

.weather-article,
#weather-spot,
#weather-container {
  height: 250px;
}

a:hover {
  opacity: 100%;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.025);
}

/* || VIEWPORT RESIZING */

@media screen and (max-width: 768px) {

  .section-label h2 {
    font-size: 80%;
  }

};

/* start of our css file */
  
#title-photo {
  width: 100%;
  height: 25%;
 
}

.temp {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
max-width: 100%;
position: relative;
margin: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

.mySlides img {
height: auto;
min-height: 100px;
max-height: 800px;
width: 100%;
height: 500px;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

.dropdown-content {
  overflow-y: visible;
}

.dropdown-content .dropdown-content {
  margin-left: 100%;
}